.carousel-inner img {
      width: 50%;
      height: 100%;
      transform: rotate(90deg);
  }
  <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
  <a class="navbar-brand" href="../webFinal/index.html">Home Page</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Sports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Family</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Other Facts</a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="../tributeCite/Index.html">Tribute Cite</a>
    </li>
  </ul>
</nav>